/* @charset "ISO-8859-1";

body{
	
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #e4decd;
	
}

.welcome{
	
	 ackground:linear-gradient(to right, #fc9403, #b54222);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: strong;
	text-align:center;
	font-size: 150%;
	
}

.login-container {
	width: 25%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #82716e;
	border: 2px solid #000000;
	padding: 50px;
}

.login-container>h3 {
	font-weight: 900;
	margin-bottom: 30px;
	color: #000000;
	text-align: center;
	
}

.login-container>form>h5 {
	margin-bottom: 5px;
	color: #000000;
}

.login-container>form>input {
	height: 30px;
	margin-bottom: 10px;
	border-radius: 20px;
	background-color: rgb(205, 214, 205);
	width: 98%;
}

.login-container>p {
	margin-top: 15px;
	font-size: 12px;
	color: #d6d6d6;
}

.login-signinButton {
	background:#acb7ae;
	border-radius: 20px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #1f1f1f;
	color: #D6D6D6;
}

.r-button {
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	border-radius: 20px;
	margin-top: 10px;
	border-color: #000000;
	background: #005504;
	color: #ffffff;
}

.container {
	height: 60vh; display : flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

#register {
	text-align: center;
	color: #0d240d;
}

.login-signinButton:hover{
	
	cursor: pointer;
	
}

.r-button:hover{
	
	cursor: pointer;
	/*  
}
*/